#faq h1 span{
    color: #E76F51;
}
#faq-container{
    width: 75%;
    margin: auto;
    margin-top: 20px;
    display: flex;
}
#faq-img{
    width: 50%;
    padding: 0.5rem;
}
#faq-img img{
    width: 100%;
    height: auto;
}
#accor{
    width: 50%;
    padding: 0.5rem;
}